/* Responsividade para telas maiores */

@media screen and (min-width: 768px) {
  .logo {
    width: 5%;
  }

  .nav-menu {
    width: 100%;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .nav-menu > li > a {
    font-size: large;
  }

  .nav-menu a:hover {
    transition: 0.3s;
    font-size: x-large;
  }

  .menu-icon {
    display: none;
  }

  #hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
  }
  #hero-about-row {
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 1em;
    border-bottom: 1px outset #f38b02;
  }

  #hero {
    padding-top: 1rem;
    height: 20em;
    text-align: center;
    color: #fff;
  }

  #sobre-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    border: none;
  }

  #sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 60vw;
    padding: 2em;
    margin: 6rem 2rem 0 2rem;
    text-align: center;
    color: #fff;
  }

  #projetos-menu h2 {
    margin-bottom: 2rem;
    margin-top: 3rem;
  }

  #projetos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 100%;
  }

  .card-projeto img {
    width: 100%;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }

  .skills-grid > li:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #414141;
  }

  #contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    width: 60%;
  }

  .social-icons {
    font-size: 1.5rem;
  }

  .social-icons li {
    font-size: 2rem;
  }

  .form {
    width: 90%;
  }
}

/* Responsividade para telas menores */

@media screen and (max-width: 576px) {
  #main-nav {
    height: 5rem;
  }

  .nav-menu {
    display: none;
  }

  .menu-icon {
    display: inline-block;
    cursor: pointer;
    margin: 0 auto;
    margin-inline-end: 2rem;
    font-size: 2.5rem;
  }

  .menu-icon :hover {
    color: #f38b02;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 1rem;
    top: 5rem;
    right: 0;
    width: 100%;
    background-color: #020202b2;
    border-top: 1px solid #f38b02;
  }

  .nav-menu.active > li {
    margin: 0.4rem 0;
  }

  .nav-menu.active > li > a {
    font-size: 1.4rem;
  }
}
